<!-- <ion-header>
  <ion-toolbar>
    <ion-title>formPosts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
 -->
<!-- <ion-header>
  <ion-toolbar>
    <ion-title>crearPublicacion</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <ion-toolbar>
    <ion-title>
      <a [routerLink]="['/home-instructor']" class="p-auto"><ion-icon name="arrow-back-outline"></ion-icon>
        Regresar</a>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container m-auto p-2">
    <div class="card text-bg-dark p-2">
      <div class="card-header text-center fw-bold text-uppercase">
        Formulario Crear Post
      </div>
      <div class="card-body">
        <form class="row gx-3 gy-2 align-items-center" [formGroup]="miFormulario">
          <div class="col-sm-4">
            <label for="" class="form-label">Actividad</label>
            <select class="form-select" aria-label="Default select example" formControlName="idActividad">
              <option value="" selected disabled>Seleccionar Actividad</option>
              <option value="{{item.idActividad}}" *ngFor="let item of actividades">{{item.actividad}}</option>
            </select>
          </div>
          <div class="col-sm-4">
            <label for="" class="form-label">Titulo</label>
            <input type="text" class="form-control" id="specificSizeInputName" formControlName="titulo" placeholder="Titulo de actividad">
          </div>

          <div class="col-sm-4">
            <label for="" class="form-label">Descripción</label>
            <textarea class="form-control" placeholder="Describe la actividad" id="floatingTextarea" formControlName="descripcion"></textarea>
          </div>

          <div class="col-sm-4 py-2">
            <div class="mb-3">
              <label for="formFile" class="form-label">Subir foto: {{msn}}</label>
              <input class="form-control" type="file" id="formFile" name="file" (change)="subiendoAndo($event)" accept="image/*">
            </div>
          </div>
          <br>
          <div class="col-sm-12 my-4">
            <button type="submit" class="btn btn-success w-100" (click)="save()">Publicar Post</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ion-content>